// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cart-display {
  display: flex;
  height: 50vh;

  .informations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30%;
    padding: 15px;
    background-color: $light-orange;

    font-family: $products-font;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    
    #total {
      font-size: 28px;
      font-weight: bolder;
    }
    .flex-centered{
      height: 50px !important;
    }
    #paying-method{
      display: flex;
      justify-content: space-between;
    }

    .btn-primary{
      background-color: darkgrey !important;
      color: black;
    }
  }
  .products-list {
    background-color: $information-background;
    overflow-y: scroll;
    min-width: 70%;

    .product-item {
      justify-content: space-between;

      height: 50px;
      padding: 0 25px 0 25px;

      box-shadow: inset 0px 11px 8px -10px $shadow-color,
        inset 0px -11px 8px -10px $shadow-color;

      font-family: $products-font;
      font-weight: bold;

      .image{
        font-size: 14px;
      
      .product-image{
        width: 40px;
        height: 40px;
        border-radius: 100%;
      }}
      .title {

        font-size: 18px;
        font-weight: bolder;
      }
      .quantity {
        color: gray;

        font-size: 16px;
      }
      .price {
        font-size: 18px;
        color: $products-font-color;
      }
      &:first-of-type {
        background-color: lightgrey;
      }
    }
  }
}
