// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cart-display {
  width: 100%;
  height: 50vh;

  .products-list {
    background-color: $very-light-gray;
    overflow-y: scroll;
    width: 100%;
    .product-item {
      justify-content: space-between;

      height: 70px !important;
      padding: 0 25px 0 25px;

      box-shadow: inset 0px 11px 8px -10px $light-gray,
        inset 0px -11px 8px -10px $light-gray;

      font-family: $products-font;
      font-weight: bold;

      .image {
        font-size: 18px;

        .product-image {
          width: 60px;
          height: 60px;
          border-radius: 100%;
        }
      }
      .title {
        font-size: 22px;
        font-weight: bolder;
      }
      .quantity {
        color: gray;

        font-size: 20px;
      }
      .price {
        font-size: 22px;
        color: $products-font-color;
      }
      &:first-of-type {
        background-color: lightgrey;
      }
    }
  }
  .order-secion {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: flex-end;

    bottom: 0;
    width: 100%;
    height: 10vh;

    background-color: lightgrey;
    box-shadow: inset 0 0 3px 1px black;
    .btn {
      height: 100%;
      width: 200px;
    }
    span {
      font-family: $products-font;
      font-weight: bolder;
      font-size: 20px;
      width: 150px;
    }
  }
}
