.status {
  width: 100px;
  height: 100%;
}
.accepted{
  color:green;
}

#new_order{
  flex-direction: column;
  .input-with-icon{
    width: 350px !important;
    select{
      border-radius: $border-radius;
    }
  }
}