%h1
  = gravatar_for @cart.user,size: 80
  = @cart.user.name+'`s Cart'
%ul.products-list-vertical
  %li.top.product-item.flex-centered
    Image
    .title Title
    .category Category
    .price Price
    Action
  - @cart.products.each do |product|
    %li.product-item.flex-centered
      = render product