.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.alert {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

form {
  background-color: $very-light-gray;
  box-shadow: inset 0px 0px 5px 1px grey;

  padding: 10px;

  input {
    margin: 5px 0 5px 0;
  }
}

#error-explanation {
  border: 1px solid orange;
  background-color: $very-light-gray;
  margin-bottom: 50px;

  font-size: 20px;
  font-weight: bolder;
  h2 {
    margin: 0;
    background-color: orange;
    border: 1px solid black;
  }
}

.field_with_errors {
  background-color: transparent;
  input {
    background-color: $light-red;
    font-size: 18px;
    font-weight: bold;
    color: black !important;
  }
}

.input-with-icon {
  display: flex;
  align-items: center;

  padding: 0 5px 0 5px;
  margin: 5px 0 5px 0;
  width: 100%;

  border-radius: 15px !important;
  box-shadow: inset 0 0 3px 1px gray;

  font-family: $products-font;
  font-weight: bold;
  * {
    margin: 0;
  }
  input {
    border-radius: 15px !important;
    text-align: center;
    font-size: 16px;
  }
  .glyphicon {
    margin: 1px;
    padding: 0;
  }
}

ul.pagination {
  li a {
    border: none !important;
    background-color: transparent !important;
    color: $light-orange;
  }
  .active a {
    color: orange;
    font-weight: bolder;
    font-size: 16px;
    &:hover {
      color: black;
    }
  }
}

.gravatar,
.product-image {
  border-radius: 100% !important;
}

.products-list-vertical {
  list-style-type: none;
  padding: 0;

  font-family: $content-font;
  font-weight: 600;
  font-size: 16px;
  .top {
    background-color: $light-gray;
    height: 10vh;
    justify-content: space-evenly;
    color: $heavy-gray;
  }

  .product-item {
    height: 10vh;
    box-shadow: inset 0 0 3px 1px $light-gray;
    padding: 15px;
    justify-content: space-between;
    .product-image {
      width: 70px;
      height: 70px;
    }
  }
}
