//GLOBAL
$information-background: #f0f0f0;
$border-radius: 15px;
$light-gray: #aaa;
$light-orange: #ffa600a6;
$light-red: #ff40406c;
$light-blue: #337ab7;
$very-light-blue: #3379b7b2;
$heavy-gray: #555555;

$short-transition-time: 0.1s;
//SORTING BAR
$sorting-background-color: #a0999a88;

$sorting-font: Verdana;
$sorting-font-color: #000000;

//PRODUCTS DISPLAY
$name-background-color: #59595923;
$category-background-color: #96969613;
$price-background-color: #d3c29757;

$products-font: "Comic Sans MS";
$products-font-color: orange;

$animation-time: 0.2s;

//HEADER
$toolbar-text-color: #ffffff;

$font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

//FOOTER
$label-font: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$content-font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

$footer-background-color: #414040;
