- order.products.each do |product_id,quantity|
  - product =  Product.find(product_id)
  - product_price= product.price * quantity
  %tr.product-item
    = render 'shared/product_horizontal_item',product: product,product_price: product_price
    %td.quantity
      = quantity