%h1.order-prompt 
  Order number ##{@order.id}
  .accepted= @order.accepted? ? 'Accepted' : 'Waiting'
%table.products-list
  %tr.product-item
    %td.image Image
    %td.title Name
    %td.price Price
    %td.quantity Quantity
  = render @order