.products-list {
  width: 100%;
  height: inherit;
  overflow-y: scroll;
  .price,
  .action {
    color: $light-blue !important;
  }
  .action {
    width: 150px;
    text-align: center;
    .glyphicon {
      margin: 0 15px 0 15px;
    }
  }
}

.insert-section{
  border-radius: 5px;
  flex-direction: column;
  .btn,
  .btn-primary {
    width: 150px;
    background-color: $light-blue;
    border-color: $light-gray;
  }
}
