.products {
  display: flex;
  height: 95vh;

  .insert-section {
    width: 40vw;
    border-right: 1px solid $light-gray;
    align-items: flex-start;
    padding: 30px 0 0 0;
    form {
      border-radius: 5px;
    }
    .btn-primary {
      background-color: $light-blue;
      border-color: $light-gray;
    }
  }
  .products-list-vertical {
    width: 60vw;
    height: inherit;
    overflow-y: scroll;
  }
}
