h1{
  margin: 0;
  padding: 10px 25px 10px 25px;
  background-color: $very-light-blue;
  
  font-weight: 900;
  font-style: italic;
  color: whitesmoke;
}

.users {
  list-style-type: none;
  padding: 20px;
  .user {
    padding: 10px;

    justify-content: start;
    height: 80px;
    margin: 10px;
    background-color: $very-light-gray;
    box-shadow: inset 0 0 3px 1px $light-gray;
    a {
      margin: 10px;
    }
    .glyphicon {
      font-size: 22px;
      margin: 0 20px 0 20px;
      text-decoration: none;
      color: black;
      &:hover {
        color: $light-blue;
      }
    }
    span:last-of-type{
      margin-left: auto;
      width: 150px;
    }
  }
}
