.products
  .insert-section.flex-centered
    = render 'form'
  %ul.products-list-vertical
    %li.top.product-item.flex-centered
      Image
      .title Title
      .category Category
      .price Price
      Action
    - @products.each do |product|
      %li.product-item.flex-centered
        = render product

        
      
